<div class="preload">
        <div class="spinner dev-spin w-1/5 mr-6 mt-3"></div>
    </div>
    <script>
        $(function () {
            $(".preload").fadeOut(500, function () {
                console.log("WELCOME")
            });
        });
    </script>