<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>CCP</title>
    <%- include('../headers.ejs'); %>
</head>
<body class="bg-red-300">
    Landing Page
</body>
</html>