<!DOCTYPE html>
<html lang="en">

<head>
    <%- include("../headers.ejs") %>
    <style>
        .anchor {
            position: absolute;
            top: 100vh;
            width: 20px;
            height: 4px;
            background: currentcolor;
            opacity: 0;
        }

        .svgcontainer {
            display: flex;
            justify-content: center;
            align-items: center;
            height: 100%;
            width: 100%;
        }

        .headline {
            display: flex;
            position: relative;
            padding: 0.4em 0.6em 0.45em;
            font-size: 3em;
            line-height: 1;
            text-transform: uppercase;
        }

        .letter {
            display: inline-block;
            transform: translate(var(--tx), var(--ty)) rotate(var(--r));
            will-change: transform;
        }
        
    </style>
</head>

<body class="bg-white">
    <header class="w-full h-20 bg-black p-4 flex">
        <div class="w-full py-2"></div>
        <div class="w-1/3 py-2">
            <ul class="flex ml-16">
                <li class="font-bold text-white text-xl mx-3">Plans</li>
                <li class="font-bold text-white text-xl mx-3">Solutions</li>
                <li class="font-bold text-white text-xl mx-3"><a href="/login">Sign in</a></li>
                <li class="text-xl mx-3 -mt-2">
                    <button class="font-bold bg-white text-black rounded-full px-3 py-2"><a href="/register">Sign up</a></button>
                </li>
            </ul>
        </div>
    </header>
    <main class="w-full" style="height: 1000px;">
        <main class="bg-black w-full" style="height:70%;">
            <div class="p-5 w-1/2 mx-auto px-6 text-center">
                <h1 class="text-6xl text-white font-bold mb-3 mt-32">
                    Do more with <br>the things you love
                </h1>
                <h3 class="text-white font-semibold text-2xl">
                    Connect your apps and devices in new and remarkable ways. <br> Make the things you love more
                    powerful.
                </h3>
            </div>
            <div class="get-started-form w-1/2 mx-auto px-6 text-center h-12">
                <div class="flex w-1/2 mx-auto bg-black rounded-lg shadow-lg">
                    <input type="email" focus class="w-full rounded-l-lg h-12 p-3 px-4 focus:outline-none"
                        placeholder="Enter your email">
                    <button class="w-1/2 bg-white rounded-r-lg p-3 ml-1 font-bold">Get started</button>
                </div>
            </div>
        </main>
        <section class="container mx-auto w-full px-12" style="margin-top:250px;">
            <div style="height: 450px;" class="w-full mx-auto bg-green-200 rounded-lg p-5 flex  -mt-32">
                <div class="w-1/2 p-5 pt-24">
                    <h2 class="font-bold text-4xl text-black">
                        Connect your devices to <br> the worlds best brands
                    </h2>
                    <br>
                    <span class="text-lg font-semibold">
                        Grow your bussiness with our <br> iot platform.
                    </span>
                </div>
                <div class="w-1/2 p-5 flex">
                    <div class="anchor"></div>

                    <div class="svgcontainer">

                        <h1 class="headline">
                            <span class="letter" data-tx="-100" data-ty="0" data-r="0">
                                <svg width="258" height="393" viewBox="0 0 258 393" fill="none"
                                    xmlns="http://www.w3.org/2000/svg">
                                    <ellipse cx="121.5" cy="380.5" rx="121.5" ry="12.5" fill="black"
                                        fill-opacity="0.05"></ellipse>
                                    <path
                                        d="M177.801 76.0273L205.682 135.606L190.742 140.526L158.411 111.556L164.405 91.3775L177.801 76.0273Z"
                                        fill="#FCD673"></path>
                                    <path
                                        d="M169.218 48.5599C187.473 61.7237 173.259 174.596 173.259 174.596L100.24 160.384C100.24 160.384 105.962 45.8269 169.218 48.5599Z"
                                        fill="#0099FF"></path>
                                    <path
                                        d="M159.682 48.8787L166.811 38.4023L179.39 45.007L175.121 59.0363C174.985 59.0818 174.894 59.1729 174.758 59.2185C170.626 54.7091 165.404 51.1107 159.682 48.8787Z"
                                        fill="#E6B535"></path>
                                    <path
                                        d="M168.219 13.1641L164.722 32.6137C166.629 32.9781 167.265 35.3012 166.493 36.9865C166.584 37.4875 166.584 37.9886 166.493 38.4896C169.263 41.6325 174.531 46.142 182.614 46.5064C195.283 47.0074 193.467 21.8185 193.467 21.8185L168.219 13.1641Z"
                                        fill="#FCD673"></path>
                                    <path
                                        d="M158.774 26.1485C159.001 24.7365 157.775 21.2747 156.957 20.0904C151.508 12.5292 158.638 9.61404 161.135 8.7486C163.905 7.74651 164.45 3.28265 168.128 1.55177C173.759 -1.04456 177.437 3.8748 180.616 4.057C183.795 4.19364 186.656 0.595228 190.561 3.7837C194.466 6.97217 193.195 10.3428 194.239 12.1648C195.329 13.9868 198.871 10.525 202.095 16.1732C206.999 24.782 193.422 24.782 193.422 24.782C193.422 24.782 185.702 26.0574 177.21 20.1815C176.03 19.3617 174.44 19.3161 173.396 20.2271C170.444 22.7779 166.675 38.7658 166.675 38.7658L164.178 35.4406C164.223 35.4406 157.684 32.7077 158.774 26.1485Z"
                                        fill="#172A5C"></path>
                                    <path
                                        d="M165.676 29.4281C165.949 31.0679 167.493 32.2066 169.127 31.9333C170.762 31.66 171.897 30.1113 171.625 28.4715C171.352 26.8318 169.808 25.693 168.174 25.9663C166.539 26.2396 165.404 27.7883 165.676 29.4281Z"
                                        fill="#FCD673"></path>
                                    <path
                                        d="M35.3495 292.478C35.3495 292.478 29.5371 298.764 25.9043 313.066C25.0869 316.209 26.1767 319.625 21 319.625C21 312.93 21 302.271 21 302.271L23.4975 287.786H21V279.997C21 279.997 33.7148 277.811 35.3495 282.366C35.3495 286.602 35.3495 292.478 35.3495 292.478Z"
                                        fill="#008020"></path>
                                    <path
                                        d="M44.4769 290.931L35.3495 292.479C33.3969 289.61 33.2607 285.875 35.0317 282.914L35.3495 282.367L44.4769 280.09V290.931Z"
                                        fill="#FCD673"></path>
                                    <path
                                        d="M154.414 360.299C154.414 360.299 154.459 370.047 173.986 375.877C177.982 377.061 176.665 378.246 177.437 379.931C171.034 379.931 155.004 379.931 155.004 379.931L146.195 370.001L143.47 372.37L137.113 366.129C137.113 366.129 140.064 357.111 144.878 357.02C148.829 358.432 154.414 360.299 154.414 360.299Z"
                                        fill="#008020"></path>
                                    <path
                                        d="M158.047 351.872L154.414 360.299C151.099 361.255 147.512 360.162 145.287 357.52L144.878 357.065L147.83 348.41L158.047 351.872Z"
                                        fill="#FCD673"></path>
                                    <path
                                        d="M101.829 185.617C101.829 185.617 102.692 214.496 113.727 239.685C117.132 247.474 112.637 256.356 104.372 258.087C64.5931 266.468 42.1152 279.859 42.1152 279.859V293.615L134.978 280.861C149.873 278.812 161.452 266.832 162.996 251.801L165.948 222.968L101.829 185.617Z"
                                        fill="#005C17"></path>
                                    <path
                                        d="M168.672 181.426C168.672 181.426 200.777 241.825 200.777 260.545C200.777 279.266 157.592 352.328 157.592 352.328H145.241C145.241 352.328 147.421 306.049 155.776 267.651C157.411 260.135 155.095 252.255 149.509 246.972C123.263 222.284 99.9673 181.426 99.9673 181.426H168.672Z"
                                        fill="#008020"></path>
                                    <path
                                        d="M208.722 220.986C235.801 193.824 235.801 149.785 208.722 122.623C181.643 95.4606 137.739 95.4606 110.66 122.623C83.5813 149.785 83.5813 193.824 110.66 220.986C137.739 248.149 181.643 248.149 208.722 220.986Z"
                                        fill="black"></path>
                                    <path fill-rule="evenodd" clip-rule="evenodd"
                                        d="M184.473 154.757L153.242 143.177C148.948 141.585 144.13 143.795 142.538 148.09L130.958 179.321C129.366 183.614 131.579 188.43 135.872 190.022L167.103 201.602C171.396 203.194 176.214 200.984 177.806 196.691L189.386 165.461C190.978 161.166 188.766 156.349 184.473 154.757ZM170.471 190.343C169.965 191.708 168.434 192.408 167.068 191.901L142.222 182.689C140.857 182.182 140.152 180.654 140.658 179.289L149.87 154.444C150.377 153.079 151.909 152.375 153.274 152.882L178.12 162.094C179.486 162.601 180.189 164.133 179.683 165.498L170.471 190.343ZM164.72 179.727C164.43 180.511 163.555 180.911 162.776 180.622L152.839 176.938C152.058 176.648 151.657 175.775 151.948 174.991L155.632 165.056C155.921 164.275 156.795 163.873 157.576 164.163L167.512 167.847C168.292 168.136 168.694 169.011 168.405 169.792L164.72 179.727Z"
                                        fill="#FFFFFF"></path>
                                    <path
                                        d="M117.814 86.3672L143.243 102.127L124.898 123.217L122.264 183.115L112.365 181.201C112.365 181.201 96.8799 134.923 99.9678 119.026C103.101 103.038 117.814 86.3672 117.814 86.3672Z"
                                        fill="#FCD673"></path>
                                    <path
                                        d="M122.309 183.112L122.218 195.001C122.218 196.914 121.628 198.781 120.583 200.376C118.585 203.382 115.043 207.8 111.819 207.163C106.915 206.206 101.193 194.91 101.193 194.91L112.41 181.199L122.309 183.112Z"
                                        fill="#FCD673"></path>
                                </svg>
                            </span>
                            <span class="letter -mt-32" data-tx="80" data-ty="0" data-r="0">
                                <svg width="321" height="509" viewBox="0 0 321 509" fill="none"
                                    xmlns="http://www.w3.org/2000/svg">
                                    <ellipse cx="171" cy="496.5" rx="150" ry="12.5" fill="black" fill-opacity="0.05">
                                    </ellipse>
                                    <path
                                        d="M98.4869 142.697C98.4869 142.697 86.4931 194.853 108.398 215.447C130.303 236.041 174.101 222.016 174.101 222.016L176.724 185.928L139.26 193.933C131.905 194.933 124.891 191.617 122.919 184.448L110.38 142.796L98.4869 142.697Z"
                                        fill="#00600B"></path>
                                    <path
                                        d="M188.191 228.506C184.078 229.549 175.55 231.505 165.681 232.07C153.04 232.809 135.551 231.418 124.253 220.552C113.777 210.467 111.05 192.907 110.79 178.824C110.357 178.172 109.881 177.476 109.448 176.824C109.492 191.472 112.046 210.598 123.344 221.508C132.911 230.723 146.633 233.331 158.365 233.548C160.919 233.592 163.386 233.548 165.724 233.418C175.767 232.809 184.425 230.853 188.58 229.766C188.451 229.332 188.277 228.897 188.191 228.506Z"
                                        fill="#FCD673"></path>
                                    <path
                                        d="M154.648 133.441C175.282 101.129 165.845 58.1593 133.571 37.4664C101.296 16.7734 58.4049 26.1928 37.7709 58.5051C17.1369 90.8174 26.5734 133.787 58.848 154.48C91.1226 175.173 134.014 165.753 154.648 133.441Z"
                                        fill="black"></path>
                                    <path
                                        d="M68.9139 111.375C72.8251 110.516 75.185 106.827 74.202 102.351L70.3762 84.9299L74.6096 84.0002L80.8089 112.229L76.6159 113.15L76.0402 110.528C74.579 112.92 72.2063 114.625 69.2621 115.271C63.213 116.6 57.6102 113.223 56.1496 106.572L52.271 88.9109L56.5044 87.9812L60.3292 105.397C61.3299 109.954 64.9604 112.243 68.9126 111.375"
                                        fill="white"></path>
                                    <path fill-rule="evenodd" clip-rule="evenodd"
                                        d="M81.83 82.4129L77.7574 83.3073L83.9503 111.535L87.9853 110.649L87.4187 108.069C89.7865 109.612 92.6756 110.135 95.434 109.521C101.483 108.193 105.187 102.35 103.885 96.4218C102.575 90.4535 96.7628 86.6995 90.7137 88.0279C87.9654 88.6251 85.5756 90.3089 84.0883 92.696L81.83 82.4129ZM99.8533 97.3106C100.721 101.262 98.2352 105.148 94.3637 105.998C90.4115 106.866 86.5665 104.371 85.6987 100.419C84.8218 96.4265 87.3167 92.5817 91.2286 91.7226C95.1001 90.8723 98.9764 93.318 99.8533 97.3106Z"
                                        fill="white"></path>
                                    <path fill-rule="evenodd" clip-rule="evenodd"
                                        d="M126.337 91.448C124.991 85.3182 119.635 81.718 113.707 83.0197L113.708 83.0195C107.699 84.3391 104.214 90.2194 105.489 96.0264C106.835 102.156 112.604 105.708 118.773 104.353C122.524 103.529 125.225 101.203 126.68 98.0089L123.258 96.478C122.177 98.8709 120.375 100.282 117.994 100.805C114.528 101.566 111.197 99.6765 109.897 96.4536L126.63 92.7788L126.337 91.448ZM121.808 90.4583L109.267 93.2125C109.302 89.9071 111.382 87.2523 114.406 86.5881C117.431 85.924 120.432 87.4629 121.808 90.4583Z"
                                        fill="white"></path>
                                    <path
                                        d="M135.806 82.4003C133.144 82.9849 131.66 85.4664 132.36 88.652L134.928 100.347L130.855 101.241L126.338 80.675L130.373 79.7889L130.932 82.3316C131.576 80.4565 133 79.045 135.258 78.549L136.669 78.2392L137.501 82.03L135.806 82.4003Z"
                                        fill="white"></path>
                                    <path
                                        d="M275.375 479.352C275.375 479.352 275.331 487.698 258.622 492.74C255.202 493.783 256.284 494.783 255.678 496.217C261.176 496.217 274.942 496.217 274.942 496.217L282.474 487.698L284.812 489.741L290.266 484.394C290.266 484.394 287.712 476.614 283.6 476.57C280.137 477.7 275.375 479.352 275.375 479.352Z"
                                        fill="#172A5C"></path>
                                    <path
                                        d="M272.258 472.092L275.375 479.351C278.232 480.177 281.262 479.221 283.21 476.961L283.556 476.57L281.045 469.137L272.258 472.092Z"
                                        fill="#FCD673"></path>
                                    <path
                                        d="M64.817 483.915C64.817 483.915 59.1028 489.217 46.1594 492.521C43.2591 493.26 40.1855 492.304 40.1855 496.998C46.246 496.998 55.9427 496.998 55.9427 496.998L69.0593 494.738V496.998H76.1154C76.1154 496.998 78.1067 485.392 73.9509 483.871C70.1415 483.915 64.817 483.915 64.817 483.915Z"
                                        fill="#172A5C"></path>
                                    <path
                                        d="M65.5961 475.57L64.8169 483.916C67.4142 485.698 70.7908 485.828 73.4747 484.22L73.9509 483.916L76.8945 475.57H65.5961Z"
                                        fill="#FCD673"></path>
                                    <path
                                        d="M97.6729 148.831L92.6081 138.66C92.1752 137.747 92.2185 136.704 92.7813 135.878L94.0366 133.878C94.4262 133.226 95.0756 132.792 95.8115 132.618L106.677 130.184C107.976 129.879 109.274 130.531 109.837 131.748L110.443 133.009C110.746 133.661 110.833 134.443 110.573 135.139L106.201 148.527L97.6729 148.831Z"
                                        fill="#FCD673"></path>
                                    <path
                                        d="M106.287 148.53L111.698 140.097C112.651 138.619 111.958 136.62 110.313 136.055L106.201 134.577C105.119 134.186 100.4 138.315 100.4 138.315C100.4 138.315 102.348 142.488 106.287 138.272C106.677 138.967 108.105 139.489 108.105 139.489C108.105 139.489 101.439 141.445 100.054 148.747L106.287 148.53Z"
                                        fill="#FCD673"></path>
                                    <path
                                        d="M149.014 328.999C161.957 373.509 270.179 473.786 270.179 473.786L284.075 469.7C284.075 469.7 254.552 392.417 218.925 366.597C202.865 320.566 174.944 283.055 174.944 283.055L141.568 309.874C141.568 309.874 138.754 301.876 149.014 328.999Z"
                                        fill="#172A5C"></path>
                                    <path
                                        d="M167.888 176.169L169.403 193.773L186.372 188.383L182 174.344L167.888 176.169Z"
                                        fill="#E6B535"></path>
                                    <path
                                        d="M167.672 145.703C167.672 145.703 154.685 165.307 158.278 176.782C162.304 182.519 178.883 174.521 178.883 174.521V147.92L167.672 145.703Z"
                                        fill="#FCD673"></path>
                                    <path
                                        d="M165.204 146.265C165.204 146.265 169.446 146.917 172.606 149.743C175.723 152.568 173.039 163.956 173.039 163.956L172.909 167.955C172.736 172.91 176.718 177.04 181.653 177.04H182C182 177.04 203.471 155.567 194.51 145.7C178.883 131.313 165.204 146.265 165.204 146.265Z"
                                        fill="#172A5C"></path>
                                    <path
                                        d="M169.49 163.481C169.187 162.09 170.269 160.438 171.957 159.743C173.645 159.091 175.247 159.656 175.593 161.047C175.896 162.438 174.814 164.089 173.126 164.785C171.394 165.48 169.793 164.872 169.49 163.481Z"
                                        fill="#FCD673"></path>
                                    <path
                                        d="M160.962 142.093C160.962 145.092 164.252 147.483 168.278 147.483C172.304 147.483 186.329 145.049 186.329 142.093C186.329 139.094 172.304 136.703 168.278 136.703C164.252 136.703 160.962 139.137 160.962 142.093Z"
                                        fill="#172A5C"></path>
                                    <path
                                        d="M138.538 270.189L178.883 283.925L199.316 231.678C202.346 223.941 203.428 215.552 202.259 207.293C200.701 196.253 194.9 184.082 177.152 184.082C144.642 184.082 141.179 226.592 141.179 226.592L138.538 270.189Z"
                                        fill="#008020"></path>
                                    <path
                                        d="M138.538 270.191L79.0586 317.787C70.4441 324.698 65.1628 334.957 64.5568 345.997L61.5698 478.874H77.1971C77.1971 478.874 108.409 392.68 102.348 360.08C188.839 336.087 178.84 283.927 178.84 283.927L138.538 270.191Z"
                                        fill="#3B579D"></path>
                                    <path
                                        d="M95.508 147.48C95.508 147.48 83.7767 201.249 106.374 222.156C128.97 243.107 173.645 228.285 173.645 228.285L175.982 191.121L137.758 199.727C130.226 200.814 123.04 197.467 120.919 190.165L107.672 147.48H95.508Z"
                                        fill="#008020"></path>
                                    <path
                                        d="M170.875 228.415C166.805 229.545 158.277 231.631 148.408 232.414C135.767 233.413 118.278 232.327 106.764 221.677C96.1145 211.811 93.0409 194.294 92.5215 180.21C92.0453 179.558 91.6124 178.906 91.1362 178.211C91.4825 192.859 94.3829 211.941 105.898 222.59C115.638 231.588 129.404 233.979 141.178 233.979C143.732 233.979 146.2 233.848 148.537 233.674C158.537 232.892 167.195 230.762 171.307 229.588C171.178 229.241 171.048 228.849 170.875 228.415Z"
                                        fill="#D1EFD7"></path>
                                </svg>
                            </span>
                        </h1>

                    </div>
                </div>
            </div>
        </section>
        <section class="container mx-auto w-full p-12 text-center" style="margin-top:80px;">
            <h1 class="text-6xl font-bold">
                The power of connection
            </h1>
            <br>
            <span class="text-xl font-semibold">
                Not every thing on the internet plays nice, so we’re on a <br> mission to build a more connected world
                that works for <br> you.
            </span>
            <img src="/resources/images/demo.jpg" alt="" class="w-full mt-16">
        </section>
        <section class="container mx-auto w-full p-12 text-center mb-24" style="margin-top:20px;">
            <h1 class="text-6xl font-bold">
                Solutions by industry
            </h1>
            <br>
            <span class="text-xl font-semibold">
                From smart home to fintech, learn how leading brands <br> leverage third party integrations to drive engagement <br> and grow their business.
            </span>
            <div class="w-full mx-auto mt-12">
                <div class="row w-full flex my-6">
                    <div class="mx-3 w-1/2 p-4 py-10 rounded-lg bg-green-300 text-white text-5xl font-bold hover:shadow-xl cursor-pointer ">Fintech</div>
                    <div class="mx-3 w-1/2 p-4 py-10 rounded-lg bg-blue-300 text-white text-5xl font-bold hover:shadow-xl cursor-pointer">Smart Home</div>
                </div>
                <div class="row w-full flex my-6">
                    <div class="mx-3 w-1/2 p-4 py-10 rounded-lg bg-yellow-400 text-white text-5xl font-bold hover:shadow-xl cursor-pointer">Agritech</div>
                    <div class="mx-3 w-1/2 p-4 py-10 rounded-lg bg-red-600 text-white text-5xl font-bold hover:shadow-xl cursor-pointer">Energy</div>
                </div>
            </div>
        </section>  
        
    <footer class="p-5 mb-12 w-1/2 mx-auto bg-white items-center">
        <ul class="flex w-1/2 mx-auto">
            <li class="font-bold text-lg mx-4 cursor-pointer">About</li>
            <li class="font-bold text-lg mx-4 cursor-pointer">Help</li>
            <li class="font-bold text-lg mx-4 cursor-pointer">Contact us</li>
            <li class="font-bold text-lg mx-4 cursor-pointer">Terms & Privacy</li>
        </ul>
    </footer>
    </main>
</body>
<script src="https://s.electerious.com/basicScroll/dist/basicScroll.min.js"></script>
<script>
    const instances = [];

    const anchor = document.querySelector(".anchor");

    // Create an animation for each border and letter
    document.querySelectorAll(".letter, .border").forEach(elem => {
        // Get the end values from the data attributes
        const tx = elem.getAttribute("data-tx") + "px";
        const ty = elem.getAttribute("data-ty") + "px";
        const r = elem.getAttribute("data-r") + "deg";

        // Crate an instance for the current element and store the instance in an array.
        // We start the animation later using the instances from the array.
        instances.push(
            basicScroll.create({
                elem: anchor,
                from: "bottom-top",
                to: "bottom-bottom",
                direct: elem,
                props: {
                    "--tx": {
                        from: "0",
                        to: tx
                    },

                    "--ty": {
                        from: "0",
                        to: ty
                    },

                    "--r": {
                        from: "0",
                        to: r
                    }
                }
            }));




    });

    
    instances.forEach(instance => instance.start());
</script>

</html>